body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #eee5d4;
    font-family: "Playfair Display", serif;
    /* background-image: url(https://th.bing.com/th/id/R.d7a86a95128c3049136158ce8fd2adec?rik=rKpdR1NJ%2f0MLFA&riu=http%3a%2f%2fjonathanlepapillon.j.o.pic.centerblog.net%2fo%2f2e9364ac.jpg&ehk=QpZf%2fnuMwcyS9dZS2PoFN26%2bkEtPcghMsqpVL0dAzVc%3d&risl=&pid=ImgRaw&r=0); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.container {
    text-align: center;
    padding: 90px 30px;
    background: #f7f2e7;
}

.hamilton-title {
    margin: 0;
    font-size: 110px;
    font-family: "Great Vibes", cursive;
    font-weight: normal;
    color: #1d1c1c;
}

.hamilton-title .the {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 28px;
    letter-spacing: 5px;
    color: #b88a36;
    margin-bottom: -10px;
}

.font-family {
    margin: 0;
    margin-top: -20px;
    font-size: 32px;
    letter-spacing: 4px;
    color: #b88a36;
    font-weight: 600;
}

.types {
    margin-top: 25px;
    font-size: 22px;
    letter-spacing: 8px;
    color: #2b2b2b;
}

.crafted {
    margin-top: 25px;
    font-size: 24px;
    font-family: "Great Vibes", cursive;
    color: #c59951;
}

.bottom-bar {
    margin-top: 45px;
    padding: 14px 0;
    background: #c29a6a;
    color: #fff;
    letter-spacing: 5px;
    font-size: 15px;
}