
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 40px;
}


.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
}


.left-time {
    color: #2d74ff;
    font-size: 22px;
    font-weight: bold;
    width: 200px;
}


.row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}


.card {
    width: 65%;
    padding: 20px;
    background: white;
    border-radius: 10px; /* border-radius mövzusu */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.card-normal p {
    font-size: 15px;
    line-height: 1.5;
    color: #444;
}


.card-italic p {
    font-size: 15px;
    font-style: italic;
    line-height: 1.6;
    color: #222;
}